<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        version   = "1.0.0"
	    id = "br.com.customapps4you.testfbso"
        versionCode="1" 
	>
    <name>Test FB Sign On</name>

    <description>
        Test Facebook Sign On.
    </description>

    <author>
        Ricardo Tominaga
    </author>
	
	<gap:plugin name="com.phonegap.plugins.facebookconnect">
		<param name="APP_ID" value="586721204714930" />
		<param name="APP_NAME" value="testfbso" />
	</gap:plugin>
	
</widget>
